# Python
venv/
__pycache__/
botenv/
botenv/lib/python3.12/
*.py[cod]
*.egg-info/
*.egg

*.pyd
*.log

# Virtual environments
botenv
.botenv/

# VSCode settings
.vscode/

# Byte-compiled / cached
*.pyc
*.pyo
*.pyd
*.pyd.d
*.pyd.cpython-*

# Logs and environments
.env
.env

# Mac system files
.DS_Store

# Pytest cache
.pytest_cache/

# Jupyter notebooks
.ipynb_checkpoints/
